.App {
  direction: ltr;
    text-align: center;
    min-height: 100vh;    
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.line{
  direction: ltr;
  text-align: center;
}

.col-sm-3{
  margin-bottom: 5px;
}

body{
  position: relative;
  padding-bottom: 8%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-inline{
  min-height: 358px;
}

.card-inline:hover{
  transition: 300ms;
  opacity: 0.7;
  box-shadow:  5px 10px lightgray;
}


.flex-grow{
  flex-grow: 1;
}

a{
  text-decoration: none !important;
}

.remove_cart_item:hover{
  color:lightcoral;
}


.product-name{
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clean-link:hover{
  color: rgb(69, 68, 68);
}

.main-fix{
  margin-top: 20px;
}

.footer-fix{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.filter-container{
width:300px;
min-width:300px;
}

@media screen and (max-width: 992px){
  .filter-container{
    width:100%;
    }
}