.fixed{
    margin-top: 20px;
}

.bottom-btn {
    position: relative;
    display: grid;
}

.card-header,.card-header h6{
    text-align: left;
    font-size: xx-large;
    display: inline-block;
    padding: 0 !important;
}

.price-wrapper{
    align-self: center;
}

.card-header h6{
    margin-left: 15px;
}

h5 {
    margin-bottom: 0 !important;
}

.btn-clear {
    width: min-content;
    margin-right: 10px;
}

.float-right{
    float: right;
}

.text-align-left{
    text-align: left;
}

.text-align-left h4{
margin-left: 60px;
}

.row-line{
    display: flex;
}

.quantity-mover {
    margin-left: 15px;
}

.payment{
    border: 1px solid lightgray;
    background-color: var(--bs-card-cap-bg);
}

.product-body {
    display: inline-block;
    border: 1px solid lightgray;
}

.product-body p{
    display: table;
}

.clean-link{
    color: black;
    text-decoration: none;
    font-size: larger;
}
.quantity_text{
    margin-right: 15px;
}
.amount{
    margin-left: 10px;
    margin-right: 10px;
}

.block-minicart .minicart-items .product-item .product-item-details {
    overflow: hidden;
    position: relative;
    padding-top: 7px;
    text-align: right;
}
.product-item-details {
    flex-grow: 1;
    margin-right: 20px;
    margin-top: 7px;
}

.block-minicart .minicart-items .product-item .action.delete {
    width: 25px;
    height: 25px;
    background-color: #f6a419;
    margin-top: 10px;
}

.block-minicart .minicart-items .product-item .action.delete span {
    display: none;
}

.remove_cart_item {
    display: block;
    margin-left: auto;
    margin-right: 40px;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    color: red;
}

img.product-image-photo {
    max-width: 95px;
    max-height: 110px;
}

.grid{
    display: grid;
}

ol{
    margin-bottom: 0.5rem;
}

.text-align-right{
text-align: right;
}

.move-down {
    align-self: center;
}

.product-item-photo {
    margin-top: 15px;
    display: flex;
}

.block-minicart .minicart-items .product-item .product-item-photo {
    display: flex;
    align-items: center;
    float: right;
    margin-left: 10px;
    width: 96px;
    padding-top: 7px;
}
.block-minicart .minicart-items .product-item .product-item-name {
    margin-bottom: 9px;
}
.block-minicart .minicart-items .product-item .product-item-name {
    margin-top: 0;
}
.block-minicart .minicart-items .product-item .product-item-name {
    font-weight: 400;
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 6px;
}



